@font-face {
    font-family: 'Rio Grande';
    src: url('../fonts/RioGrande.woff2') format('woff2'),
        url('../fonts/RioGrande.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
	transform: translatex(-50%);
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1575444758702-4a6b9222336e?w=1950&q=60");
  position: relative;
  /* Set a specific height */
  height: 92%;
	
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1481833761820-0509d3217039?w=1950&q=60");

  /* Set a specific height */
  height: 92%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.review-text {
	color: white;
	font-size: 50px;
	font-family: 'Rio Grande';
    font-weight: bold;
    font-style: normal;
	
	padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
  width: 640px;
  height: 480px;
  padding: 20px;

  position: absolute;
  top: 60%;
  left: 50%;

  margin: -340px 0 0 -260px;
}

.footer-copyright {
	text-align: center;
	background-color: white;
	position: bottom;
}
